<%= render partial: "layouts/admin_nav" %>

<div class="admin-container dash-sections">

  <% if flash[:notice] || flash[:success] %>
    <%= content_tag :div, flash[:notice] || flash[:success] , class: "flash-hash" %>
  <% end %>
  
  <h1>Customer Summary</h1>
  <h3><%= link_to "+ Add a new customer", new_admin_customer_path %></h3>

  <header>
    <ul>
      <li>Name</li>
      <li>Phone</li>
      <li>Email</li>
      <li>Shipping Addresses</li>
      <li>Actions</li>
    </ul>
  </header>

  <section>
    <% @customers.each do |customer| %>
      <ul>
        <li><%= customer.first_name %> <%= customer.last_name %></li>
        <li><%= customer.phone %></li>
        <li><%= customer.email %></li>
        <li><%= link_to "Manage List", admin_customer_shipping_addresses_path(customer) %></li>
        <li><%= link_to "Edit", edit_admin_customer_path(customer) %> | <%= link_to "Delete", admin_customer_path(customer), method: :delete, data: { confirm: "Are you sure you want to delete this customer?" } %></li>
      </ul>
    <% end %>

    
  </section>


</div>