<%= render partial: "layouts/admin_nav" %>

<div class="admin-container dash-sections products">

  <% if flash[:notice] %>
    <%= content_tag :div, flash[:notice], class: "flash-hash" %>
  <% end %>
  
  <h1>Product Summary</h1>
  <h3><%= link_to "+ Add a new product", new_admin_product_path %></h3>

  <header>
    <ul>
      <li>Name</li>
      <li>Price</li>
      <li>Showcase Image</li>
      <li>Units Sold</li>
      <li>Actions</li>
    </ul>
  </header>

  <section>
    <% @products.each do |product| %>
      <ul>
        <li><%= product.name %></li>
        <li><%= product.price %></li>
        <li><%= image_tag product.showcase_image %></li>
        <li><%= product.units_sold %></li>
        <li><%= link_to "Edit", edit_admin_product_path(product) %> | <%= link_to "Delete", admin_product_path(product), method: :delete, data: { confirm: "Are you sure you want to delete this product?" } %></li>
      </ul>
    <% end %>

    
  </section>


</div>