<%= render partial: "layouts/nav" %>

<%= render partial: "layouts/header_slider" %>

<%= render partial: "layouts/shop" %>

<%= render partial: "layouts/about" %>


<div class="dark-container">

  <h1>The Shop @ Sehara</h1>

  <ul class="tabs">
    <li class="active"><a href="#tab1">Hera Crown</a></li>
    <li><a href="#tab2">Selene Crown</a></li>
    <li><a href="#tab3">Rhea Crown</a></li>
  </ul>

  <div class="tab" id="tab1">
    <header>
      <h2>Price: $<%= @hera.price %></h2>
      <p><%= @hera.description %></p>
    </header>
    <div id="masonry-grid" class="js-masonry"
  data-masonry-options='{ "columnWidth": 450, "itemSelector": ".item", "gutter": 10, "isFitWidth": "true" }'>
      <% @hera_images.each do |img| %>
        <div class="empty"></div>
        <div class="item">
          <%= image_tag img %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="tab" id="tab2">
    <header>
      <h2>Price: $<%= @selene.price %></h2>
      <p><%= @selene.description %></p>
    </header>
    <div id="masonry-grid" class="js-masonry"
  data-masonry-options='{ "columnWidth": 450, "itemSelector": ".item", "gutter": 10, "isFitWidth": "true" }'>
      <% @selene_images.each do |img| %>
        <div class="empty"></div>
        <div class="item">
          <%= image_tag img %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="tab" id="tab3">
    <header>
      <h2>Price: $<%= @rhea.price %></h2>
      <p><%= @rhea.description %></p>
    </header> 
    <div id="masonry-grid" class="js-masonry"
  data-masonry-options='{ "columnWidth": 450, "itemSelector": ".item", "gutter": 10, "isFitWidth": "true" }'> 
      <% @rhea_images.each do |img| %>
        <div class="empty"></div>
        <div class="item">
          <%= image_tag img %>
        </div>
      <% end %>
    </div>
  </div>
</div>