<!DOCTYPE html>
<html>
<head>
  <title>Sehara</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'https://s3-us-west-2.amazonaws.com/sehara/other/favicon.jpeg' %>
  <link href='http://fonts.googleapis.com/css?family=Meddon' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
